<a href="https://colab.research.google.com/github/MonicaisHer/biomedical_data_science/blob/master/Biomedical_Data_Analysis_MonicaWang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**This is a Biomedical Data Analysis Notebook!**


Day 1-------------------------------------------------------------------------

In [5]:
print ("Hello!");

Hello!

In [7]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [10]:
df=pd.read_csv('/content/drive/My Drive/Biomed Data Analysis/test_data.csv')

In [11]:
df.head(3)

   column0 column1 column2  column3  column4 sample_name
0  control     yes    0.25     0.10     0.00     sample1
1     case     yes     0.9     0.25     0.75     sample2
2  control     yes    0.43     0.23     0.02     sample3

In [12]:
df[['column0','column1','column2','column3']]
df['column6']=df['column0']+' '+df['column1']
df.head()

   column0 column1 column2  column3  column4 sample_name      column6
0  control     yes    0.25     0.10     0.00     sample1  control yes
1     case     yes     0.9     0.25     0.75     sample2     case yes
2  control     yes    0.43     0.23     0.02     sample3  control yes
3     case      no    c084     0.34     0.90     sample4      case no

In [13]:
df.loc[df['column0'] == 'control','new_column'] = 10
df.loc[df['column0'] == 'case','new_column'] = 9
df.head()

   column0 column1 column2  ...  sample_name      column6 new_column
0  control     yes    0.25  ...      sample1  control yes       10.0
1     case     yes     0.9  ...      sample2     case yes        9.0
2  control     yes    0.43  ...      sample3  control yes       10.0
3     case      no    c084  ...      sample4      case no        9.0

[4 rows x 8 columns]

Day 2-------------------------------------------------------------------------

In [14]:
df.loc[df['column0'] == 'control']

   column0 column1 column2  ...  sample_name      column6 new_column
0  control     yes    0.25  ...      sample1  control yes       10.0
2  control     yes    0.43  ...      sample3  control yes       10.0

[2 rows x 8 columns]

In [33]:
df.loc[df['column3'] > 0.05]

   column0 column1 column2  ...  sample_name      column6 new_column
0  control     yes    0.25  ...      sample1  control yes       10.0
1     case     yes     0.9  ...      sample2     case yes        9.0
2  control     yes    0.43  ...      sample3  control yes       10.0
3     case      no    c084  ...      sample4      case no        9.0

[4 rows x 8 columns]

In [36]:
df.dtypes

column0         object
column1         object
column2         object
column3        float64
column4        float64
sample_name     object
column6         object
new_column     float64
dtype: object

In [47]:
df['column2'] = pd.to_numeric(df['column2'], errors = 'coerce')
df = df.dropna(subset=['column2'])
df

   column0 column1  column2  ...  sample_name      column6 new_column
0  control     yes     0.25  ...      sample1  control yes       10.0
1     case     yes     0.90  ...      sample2     case yes        9.0
2  control     yes     0.43  ...      sample3  control yes       10.0

[3 rows x 8 columns]

In [48]:
df = df.dropna(how = 'any')
df

   column0 column1  column2  ...  sample_name      column6 new_column
0  control     yes     0.25  ...      sample1  control yes       10.0
1     case     yes     0.90  ...      sample2     case yes        9.0
2  control     yes     0.43  ...      sample3  control yes       10.0

[3 rows x 8 columns]

In [49]:
df=pd.read_csv('/content/drive/My Drive/Biomed Data Analysis/test_data2.csv')